
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}
p{
/* color: var(--Transparent-white); */
}
h1, botton{
/* color:hsl(0, 0%, 95%); */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}